@import "core/all";
@import "components/all";

.form_body {
  width: 70%;
  margin: auto;
  word-wrap: break-word;
}

.size p {
  white-space: nowrap; 
  overflow: hidden;  
  text-overflow:ellipsis;
  word-wrap: break-word;
}
.size a:hover {
  white-space: normal;  
}